<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body">

<div class="auth-box fade-in">
    <h2>Welcome Back</h2>
    <p class="subtitle">Sign in to continue</p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="error-message">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST">

        <div class="input-group">
            <input type="text" name="username" required>
            <label>Username</label>
        </div>

        <div class="input-group">
            <input type="password" name="password" required>
            <label>Password</label>
        </div>

        <button type="submit" class="primary-btn">Login</button>

    </form>

    <p class="switch-text">
        Don't have an account?
        <a href="{{ url_for('register') }}">Create one</a>
    </p>
</div>

</body>
</html>